YOUTUBE_TOKEN_FILE=token.json
YOUTUBE_CLIENT_SECRETS_FILE=client_secrets.json
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GOOGLE_DRIVE_UPLOADER_FOLDER_ID=1rOn8dQs5KWqC36IJ7ip76QuXwrlAV15E
RESEND_API_KEY=re_...
EMAIL_FROM=Upbuild <noreply@upbuild.com>
ERROR_ALERT_EMAIL=michael@upbuild.com
